<div class="content" role="main">

    <h2 class="header-title">What do you want to do with your app?</h2>

    <input type="hidden" #selection>

    <div class="card-container">
        <button class="card card-small" (click)="selection.value = 'pdftomiage'" tabindex="0">
            <span>PDF To Image</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'base64'" tabindex="0">
            <span>Base64 Encode/Decode</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'qr-bar'" tabindex="0">
            <span> QR/Bar Code Gen/Scanner</span>
        </button>
    </div>

    <!-- Terminal -->
    <div class="workspace" [ngSwitch]="selection.value">
        <div class="workspace_element" *ngSwitchDefault><app-tool-pdf></app-tool-pdf></div>
        <div class="workspace_element" *ngSwitchCase="'base64'"><app-tool-base64></app-tool-base64></div>
        <div class="workspace_element" *ngSwitchCase="'qr-bar'"><app-tool-qbcode></app-tool-qbcode></div>
    </div>

</div>

<router-outlet></router-outlet>
