<div class="container">
    <label for="formFile" class="form-label"> Please Select File:</label>
    <input class="form-control" type="file" id="upload-doc" accept=".pdf"  (change)="uploadFile($event)">
    <div>
        <div class="page-div" *ngIf="totalPages != 0">
            <p class="pagescount">Current Pages - {{currentpage}} of {{totalPages}}</p>
            <button (click)="download()">
                Download
            </button>
        </div>
        <div>
            <pdf-viewer 
                class="pdf-container"
                [src]="pdfSrc" 
                [render-text]="true" 
                [page]="currentpage"  
                [show-all]="false" 
                [original-size]="true" 
                [fit-to-page]="true" 
                (after-load-complete)="afterLoadComplete($event)" 
                style="display: block;"
            ></pdf-viewer>
        </div>
        <div style="display: none;"><img id="cropper-img"></div>
    </div>
</div>
