<div class="container">
    <input class="form-control" type="file" id="upload-doc" accept=".pdf" hidden (change)="uploadFile($event)">
    <button id="btnBrowse" name="btnBrowse" onclick="document.getElementById('upload-doc').click();" class="card card__wide" ><span class="hide-on-mobile">Please Select File</span></button>
    <div>
        <div class="page-div" *ngIf="totalPages != 0">
            <button style="margin-bottom: 0px;" id="btnBrowse" name="btnBrowse" (click)="download()" class="card card__wide" ><span class="hide-on-mobile">Total Page: {{totalPages}}: {{isDownloading ?  'Page ' + currentpage + ' Downloading...': 'Download as Image'}}</span></button>
        </div>
        <div>
            <pdf-viewer 
                class="pdf-container"
                [src]="pdfSrc" 
                [render-text]="true" 
                [page]="currentpage"  
                [show-all]="false" 
                [original-size]="true" 
                [fit-to-page]="true" 
                (after-load-complete)="afterLoadComplete($event)" 
                style="display: block;"
            ></pdf-viewer>
        </div>
        <div style="display: none;"><img id="cropper-img"></div>
    </div>
</div>
